/* @import "tailwindcss"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 10px 16px;
  border-radius: var(--border-radius);
  border: none;
}

.card {
  border-radius: 12px;
  padding: 16px;
  background: var(--white);
}

.main-header {
  @apply h-16 bg-primary-600 text-white flex items-center justify-between px-5 rounded-t-md;
}

.layout-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background: var(--bg-sidebar);
  color: white;
  min-height: calc(100vh - 60px);
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}


.card-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5;
}

.dashboard-card {
  @apply bg-card rounded-xl shadow-md p-5 border border-gray-200 shadow-md;
}

.page-title {
  @apply text-h2 text-text-primary font-inter font-bold mb-5;
}

.section {
  @apply text-left
}

.sub-section {
  @apply border-2 border-primary-400 p-3 rounded-md;
}

.section-heading {
  @apply text-h4 text-text-primary font-medium;
}

.section-body {
  @apply text-b1 text-text-primary font-normal;
}